<%- include("../partials/head") %>
<link rel="stylesheet" href="assets/css/examples/examples.css">
    <title>SIH - webudvikler</title>
</head>
<body>
    <div id="wrapper">
        <%- include("../partials/header") %>
        <%- include("../partials/nav") %>
        <main>
            <h1>Her kan du se nogle af de ting jeg kan</h1>
            <section id="form">
                <h2>Formen er kun for at vise at jeg kan lave form validering</h2>
                <form action="javascript:alert('Du har udfyldt formen rigtigt')" method="post" class="form validate"> 
                    <div class="formgroup">
                        <label class="form_label form_label_name">Dit navn :</label>
                        <input name="name" class="form__name form-input" placeholder="Dit navn" required pattern=".{3,}">
                        <span class="error error1"></span>
                    </div>
                    
                    <div class="formgroup">
                        <label class="form_label form_label_last_name">Virksomhed :</label>
                        <input type="name" name="last name" class="form__virksomhed form-input" placeholder="Virksomhedens navn" required pattern=".{3,}">
                        <span class="error error2"></span>
                    </div>
                    
                    <div class="formgroup">
                        <label class="form_label form_label_email">Email :</label>
                        <input type="email" name="emailaddress" class="form__email form-input" placeholder="Email" required pattern=".+\.[a-z]{2,}$">
                        <span class="error error3"></span>
                    </div>
                    
                    <div class="formgroup">
                        <label class="form_label mobil">Telefon :</label>
                        <input type="tel" name="Telefon" placeholder="52146815" class="form__phone form-input" required pattern="[0-9]{8}"> 
                        <span class="error error4"></span>
                    </div>
                    
                    <div class="formgroup">
                        <label class="form_label form_label_message">Besked :</label>
                        <textarea class="form__textarea" name="comment form-input" rows="5" placeholder="Skriv din besked her..." required></textarea>
                        <span class="error error5"></span>
                    </div>
                    
                    <input type="submit" value="Indsend" class="form__submit">
                </form>
            </section>

            <section id="API">
                <h2>Alle informationer her <br> bliver hentet fra et API jeg lavede i skolen</h2>
                <div class="section-div">
                    <img src="../assets/images/arrow.png" alt="left arrow" class="left-arrow">
                    <div>
                        <h3 class="cheese-name"></h3>
                        <p>Kategori: <span class="cheese-category"></span></p>
                        <p>Pris: <span class="cheese-price"></span></p>
                        <p>Vægt: <span class="cheese-weight"></span></p>
                        <p>Beskrivelse: <span class="description"></span></p>
                    </div>
                    <img src="../assets/images/arrow.png" alt="right arrow" class="right-arrow">
                </div>
            </section>

            <section id="old-link">
                <h3>Gammel portfolio</h3>
                <div>
                    <p>Denne link er til en portfolio jeg lavede i slutningen af grundforløbet af min uddannelse, 
                        så de sider portfolioen linker til er ret gamle og siger ikke meget om hvad jeg kan gøre nu. 
                        Du skal ikke kontakte mig igennem oplysninger på siden nedenfor her, fordi de har ændret sig siden den side blev lavet.</p>
                    <a href="http://grafisk.nextkbh.dk/elever/inga0600/portfolio/" target="_blank">Her er min gamle portfolio</a>                        
                </div>
            </section>
        </main>
        <%- include("../partials/footer") %>
        <script src="assets/js/examples.js"></script>
<%- include("../partials/last") %>