<%- include("../partials/head") %>
<link rel="stylesheet" href="assets/css/examples/examples.css">
    <title>SIH - webudvikler</title>
</head>
<body>
    <div id="wrapper">
        <%- include("../partials/header") %>
        <%- include("../partials/examples-nav") %>
        <main>
            <h1>Her kan du se nogle af de ting jeg kan</h1>
            
            <section id="scroll-to-links">
                <h2>Denne side bruger jeg til at vise nogle af de ting jeg har lært igennem uddannelsen</h2>
                <p>Alle billeder på denne side er lavet med lazy-loading</p>
                <ul>
                    <li><a href="#form-scroll">Form validering</a></li>
                    <li><a href="#react-scroll">React</a></li>
                    <li><a href="#API">API hentning</a></li>
                    <li><a href="#animation-nav-link">Animationer</a></li>
                    <li><a href="#gallery">Billede galleri</a></li>
                    <li><a href="#accordian-scroll">Accordian visning</a></li>
                    <li><a href="#calculator">Lommeregner</a></li>
                    <li><a href="#old-link">Gammelt portfolio (fra grundforløbet) og et spil jeg har lavet</a></li>
                </ul>
                <p id="form-scroll">Jeg har også lavet siden med GULP. Jeg bruger GULP for at ændre EJS til HTML (gulp-ejs), SCSS til CSS (gulp-sass), Javascript ES6 til Javascript ES5 (gulp-babel) og til at minimere billeder for web (gulp-imagemin).</p>
            </section>

            <section id="form">
                <h2>Formen er kun for at vise at jeg kan lave form validering</h2>
                <form action="javascript:alert('Du har udfyldt formen rigtigt')" method="post" class="form validate" id="the-form"> 
                    <div class="formgroup">
                        <label class="form_label form_label_name">Dit navn :</label>
                        <input name="name" class="form__name form-input" id="form-input" placeholder="Dit navn" required pattern=".{3,}">
                        <span class="error error1"></span>
                    </div>
                    
                    <div class="formgroup">
                        <label class="form_label form_label_last_name">Virksomhed :</label>
                        <input type="name" name="last name" class="form__virksomhed form-input" id="form-input" placeholder="Virksomhedens navn" required pattern=".{3,}">
                        <span class="error error2"></span>
                    </div>
                    
                    <div class="formgroup">
                        <label class="form_label form_label_email">Email :</label>
                        <input type="email" name="emailaddress" class="form__email form-input" id="form-input" placeholder="Email" required pattern=".+\.[a-z]{2,}$">
                        <span class="error error3"></span>
                    </div>
                    
                    <div class="formgroup">
                        <label class="form_label mobil">Telefon :</label>
                        <input type="tel" name="Telefon" placeholder="52146815" class="form__phone form-input" id="form-input" required pattern="[0-9]{8}"> 
                        <span class="error error4"></span>
                    </div>
                    
                    <div class="formgroup">
                        <label class="form_label form_label_message">Besked :</label>
                        <textarea class="form__textarea" name="comment form-input" id="form-input" rows="5" placeholder="Skriv din besked her..." required></textarea>
                        <span class="error error5"></span>
                    </div>
                    
                    <input type="submit" value="Indsend" class="form__submit" id="react-scroll">
                </form>
            </section>

            <section id="react">
                <h2>Here er et projekt vi lavede i ReactJS, Gasby cloud og Contentful (headless cms)</h2>
                <p>Opgavens formål er at opbygge en vis rutine og erfaring med react, 
                    vi skulle lave så få componenter som mugligt, og genbruge dem mange steder</p>
                <p><a href="https://github.com/SIngaH/uicomponents" target="_blank">Click her for at kigge på koden (på github)</a></p>
                <img src="/assets/images/placeholder.svg" data-src="assets/images/uicomponents/ui2.png" alt="uicomponents">
                <img src="/assets/images/placeholder.svg" data-src="assets/images/uicomponents/ui.png" alt="uicomponents">
                <div id="api-scroll"></div>
            </section>

            <section id="API">
                <h2>Alle informationer her bliver hentet fra et API jeg lavede i skolen</h2>
                <div class="section-div" id="section-div">
                    <img src="/assets/images/placeholder.svg" data-src="../assets/images/arrow.png" alt="left arrow" id="left-arrow">
                    <div>
                        <h3 class="cheese-name"></h3>
                        <p>Kategori: <span class="cheese-category"></span></p>
                        <p>Pris: <span class="cheese-price"></span></p>
                        <p>Vægt: <span class="cheese-weight"></span></p>
                        <p>Beskrivelse: <span class="description"></span></p>
                    </div>
                    <img src="/assets/images/placeholder.svg" data-src="../assets/images/arrow.png" alt="right arrow" id="right-arrow">
                </div>
                <div id="animation-nav-link"></div>
            </section>
            
            <section id="animations">
                <h2>Her er der to slags animationer. <br> Begge billeder bliver styret med keyframes, smiley bliver styret i cssen imens katten som er en SVG animerede jeg indeni dens egen kode</h2>
                <div class="the-animations">
                    <img src="/assets/images/placeholder.svg" data-src="assets/images/smiley.webp" alt="smiley face" class="smiley">
                    <img src="/assets/images/placeholder.svg" data-src="assets/images/cat.svg" alt="cat" class="cat" id="gallery-scroll">
                </div>
            </section>

            <section id="gallery">
                <h2>The doctors gallery</h2>
                <img src="/assets/images/placeholder.svg" data-src="assets/images/gallery/doctor_ce.jpg" alt="Christopher Eccleston" class="gallery_img_change">
                <img src="/assets/images/placeholder.svg" data-src="assets/images/gallery/arrow_left.png" alt="left arrow" class="left_arrow">
                <img src="/assets/images/placeholder.svg" data-src="assets/images/gallery/arrow_left.png" alt="right arrow" class="right_arrow">
                <h1 class="gallery_h1_change" id="gallery_h1_change">Christopher Eccleston</h1>
                <div class="gallery_change_p">
                    <p class="gallery_p_change">Ninth Doctor: Christopher Eccleston (2005). The sole survivor of the Last Great Time War, 
                        scarred by the terrible things he’d seen and done, the Ninth Doctor was an intense and emotional incarnation.</p>
                    <p class="gallery_p2_change" id="accordian-scroll"> He took Rose Tyler to see the end of the world, inspired Charles Dickens and showed that for once, 
                        everybody could live.</p>
                </div>
            </section>
            <%- include("../partials/show-hide") %>

            <section id="calculator">
                <div id="answer">
                    <div data-previous-operand class="previous"></div>
                    <div data-current-operand class="current"></div>
                </div>
                <button data-all-clear class="span-two">AC</button>
                <button data-delete>DEL</button>
                <button data-operation>%</button>
                <button data-number>1</button>
                <button data-number>2</button>
                <button data-number>3</button>
                <button data-operation>*</button>
                <button data-number>4</button>
                <button data-number>5</button>
                <button data-number>6</button>
                <button data-operation>+</button>
                <button data-number>7</button>
                <button data-number>8</button>
                <button data-number>9</button>
                <button data-operation>-</button>
                <button data-number>.</button>
                <button data-number>0</button>
                <button data-equals class="span-two">=</button>
            </section>

            <section id="old-link">
                <h2>Gammel portfolio</h2>
                <p>Denne link er til en portfolio jeg lavede i slutningen af grundforløbet af min uddannelse, 
                    så de sider portfolioen linker til er ret gamle og siger ikke meget om hvad jeg kan gøre nu. 
                    Du skal ikke kontakte mig igennem oplysninger på siden nedenfor her, fordi de har ændret sig siden den side blev lavet.</p>
                <a href="http://grafisk.nextkbh.dk/elever/inga0600/portfolio/" target="_blank">Her er min gamle portfolio</a>    
                <p>Og kun for sjov har jeg her en link til et spill jeg lavede i grundforløbet</p>             
                <a href="tic.html">Kryds og bolle</a>       
            </section>
        </main>
        <%- include("../partials/footer") %>
        <script src="assets/js/lazy-load.js"></script>
        <script src="assets/js/api-gallery.js"></script>
        <script src="assets/js/gallery.js"></script>
        <script src="assets/js/show-hide.js"></script>
        <script src="assets/js/examples-drop-down.js"></script>
        <script src="assets/js/calculator.js"></script>
<%- include("../partials/last") %>