<%- include("../partials/head") %>
        <link rel="stylesheet" href="assets/css/index/index.css">
        <title>SIH - webudvikler</title>
    </head>
    <body>
        <div id="wrapper">
<%- include("../partials/header") %>
<%- include("../partials/nav") %>
            <main>
                <section id="about-me">
                    <h2>Om mig <br> (S. Inga Helgadottir)</h2>
                    <img src="/assets/images/SIH.jpg" alt="Et billede af mig (S. Inga Helgadottir)">
                    <p>Jeg hedder S. Inga Helgadottir, jeg er 24 år gammel og jeg er en uddannet webudvikler. (i oktober 2020)</p>
                    <p>Grundforløbet af webudvikleren tog jeg på Next i København (2019) og hovedforløbet tog jeg hos Roskilde Tekniske Skole (2019-2020)</p>
                    <p><a href="#about-my-education">Hvis du vil vide mere om hvad jeg kan</a></p>
                    <p class="span-two">Jeg er en Islænding men har boet i Denmark siden året 2010 og kan godt lide at bo her.</p>
                    <p class="span-two">Jeg har Dansk og Engelsk på A niveau, så jeg taler begge sprog flydende, samt Islandsk.</p>
                    <p class="span-two">Jeg kan bedre lide at arbejde alene, men kan også godt arbejde i en gruppe.</p>
                    <p class="span-two">Jeg har valgt denne uddannelse fordi jeg syns det er sjovt at lege med kode og løse problemer.</p>
                    <p class="span-two"><a href="#footer">Hvis du er interreseret, kan du kontakte mig igennem en af de links i footeren.</a></p>
                    <p class="span-two"><a href="https://github.com/rts-cmk-wuhf02/praktikperiode-portfolio-SIngaH" target="_blank">Hvis du vil se hvordan jeg koder, kan du se min kode for denne side (på github).</a></p>   
                </section>
                <section id="about-my-education">
                    <h2>Det vi har lært i skolen <br> <a href="examples.html">Her kan du se eksempler</a></h2>
                    <div id="education-grid">
                        <h3 class="much-h3">De ting jeg er god til <br> (click på pilerne)</h3>
                        <div class="much">
                            <ul>
                                <li>html <img src="/assets/images/li_arrow.png" alt="arrow" class="li-arrow"></li>
                                <li>css <img src="/assets/images/li_arrow.png" alt="arrow" class="li-arrow"></li>
                                <li>ejs <img src="/assets/images/li_arrow.png" alt="arrow" class="li-arrow"></li>
                                <li>scss <img src="/assets/images/li_arrow.png" alt="arrow" class="li-arrow"></li>
                                <li>javascript <img src="/assets/images/li_arrow.png" alt="arrow" class="li-arrow"></li>
                                <li>gulp <img src="/assets/images/li_arrow.png" alt="arrow" class="li-arrow"></li>
                                <li>api <img src="/assets/images/li_arrow.png" alt="arrow" class="li-arrow"></li>
                                <li>json <img src="/assets/images/li_arrow.png" alt="arrow" class="li-arrow"></li>
                                <li>font awesome <img src="/assets/images/li_arrow.png" alt="arrow" class="li-arrow"></li>
                                <li>animationer <img src="/assets/images/li_arrow.png" alt="arrow" class="li-arrow"></li>
                                <li>svg manipulation <img src="/assets/images/li_arrow.png" alt="arrow" class="li-arrow"></li>
                                <li>github <img src="/assets/images/li_arrow.png" alt="arrow" class="li-arrow"></li>
                                <li>wordpress <img src="/assets/images/li_arrow.png" alt="arrow" class="li-arrow"></li>
                            </ul>
                        </div>
                        <div class="much-explainer"></div>
                        <h3 class="moderate-h3">De ting jer er nogenlunde god til <br> (click på pilerne)</h3>
                        <div class="moderate">
                            <ul>
                                <li>react <img src="/assets/images/li_arrow.png" alt="arrow" class="li-arrow"></li>
                                <li>seo <img src="/assets/images/li_arrow.png" alt="arrow" class="li-arrow"></li>
                                <li>lazy loading <img src="/assets/images/li_arrow.png" alt="arrow" class="li-arrow"></li>
                                <li>tailwind <img src="/assets/images/li_arrow.png" alt="arrow" class="li-arrow"></li>
                                <li>bootstrap <img src="/assets/images/li_arrow.png" alt="arrow" class="li-arrow"></li>
                                <li>fysiske enheder <img src="/assets/images/li_arrow.png" alt="arrow" class="li-arrow"></li>
                            </ul>
                        </div>
                        <div class="moderate-explainer"></div>
                        <h3 class="little-h3">De ting jeg kender men hvis jeg skulle bruge de behøver jeg lidt tid til at genfriske det <br> (click på pilerne)</h3>
                        <div class="little">
                            <ul>
                                <li>headless cms <img src="/assets/images/li_arrow.png" alt="arrow" class="li-arrow"></li>
                                <li>php <img src="/assets/images/li_arrow.png" alt="arrow" class="li-arrow"></li>
                                <li>sql <img src="/assets/images/li_arrow.png" alt="arrow" class="li-arrow"></li>
                            </ul>
                        </div>
                        <div class="little-explainer"><br></div>
                    </div>
                </section>
            </main>
<%- include("../partials/footer") %>
            <script src="assets/js/education-li.js"></script>
<%- include("../partials/last") %>
